.version.index /* version checker */
{
	color: #000012;
	background-color: #28EC03;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 472px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 128px;
	margin-left: auto;
	margin-right: auto;
}

#u269
{
	z-index: 2;
	width: 415px;
	margin-right: -10000px;
	margin-top: 231px;
	left: -92px;
}

#pppu271
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 80px;
	margin-left: 179px;
}

#ppu271
{
	width: 0.01px;
	padding-bottom: 3px;
	margin-left: 35px;
}

#pu271
{
	width: 0.01px;
	padding-bottom: 3px;
	margin-right: -10000px;
	margin-left: 136px;
}

#u271
{
	z-index: 4;
	width: 84px;
	margin-right: -10000px;
	margin-top: 3px;
	left: -1px;
}

#u288-4
{
	z-index: 24;
	width: 27px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 10px;
}

#u279
{
	z-index: 12;
	width: 84px;
	margin-right: -10000px;
	margin-top: 12px;
	left: -1px;
}

#u293-4
{
	z-index: 44;
	width: 24px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 27px;
}

#pu273
{
	width: 0.01px;
	padding-bottom: 3px;
	margin-top: 2px;
}

#u273
{
	z-index: 6;
	width: 84px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 121px;
}

#u275
{
	z-index: 8;
	width: 84px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 243px;
}

#u281
{
	z-index: 14;
	width: 84px;
	margin-right: -10000px;
	margin-top: 13px;
	left: -1px;
}

#u290-4
{
	z-index: 32;
	width: 16px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 62px;
	left: 279px;
}

#u291-4
{
	z-index: 36;
	width: 33px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 52px;
	left: 24px;
}

#pppu283
{
	width: 0.01px;
	margin-left: 54px;
	margin-top: -3px;
}

#ppu283
{
	width: 0.01px;
	margin-right: -10000px;
}

#pu283
{
	width: 0.01px;
	padding-bottom: 3px;
}

#u283
{
	z-index: 16;
	width: 84px;
	margin-right: -10000px;
	margin-top: 3px;
	left: -1px;
}

#u289-4
{
	z-index: 28;
	width: 21px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 28px;
}

#pu285
{
	width: 0.01px;
	padding-bottom: 3px;
	margin-left: 30px;
	margin-top: 16px;
}

#u285
{
	z-index: 18;
	width: 84px;
	margin-right: -10000px;
	margin-top: 3px;
	left: -1px;
}

#u292-4
{
	z-index: 40;
	width: 33px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 26px;
}

#u277
{
	z-index: 10;
	width: 84px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 131px;
}

#u287-4
{
	z-index: 20;
	width: 21px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 57px;
	left: 163px;
}

#ppu309-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 100px;
	margin-left: 561px;
}

#pu309-4
{
	width: 0.01px;
	margin-left: 30px;
}

#u309-4
{
	z-index: 48;
	width: 83px;
	min-height: 83px;
	margin-right: -10000px;
}

#u314-4
{
	z-index: 69;
	width: 83px;
	min-height: 83px;
	margin-right: -10000px;
	left: 125px;
}

#pu310-4
{
	width: 0.01px;
	margin-top: 11px;
}

#u310-4
{
	z-index: 52;
	width: 83px;
	min-height: 83px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u313-4
{
	z-index: 65;
	width: 83px;
	min-height: 83px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 107px;
}

#u315-4
{
	z-index: 73;
	width: 83px;
	min-height: 83px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 228px;
}

#pu311-4
{
	width: 0.01px;
	margin-left: 58px;
	margin-top: 2px;
}

#u311-4
{
	z-index: 56;
	width: 83px;
	min-height: 83px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u312-5
{
	z-index: 60;
	width: 83px;
	min-height: 83px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 118px;
}

#u316-4
{
	z-index: 77;
	width: 83px;
	min-height: 83px;
	margin-right: -10000px;
	margin-top: 96px;
	left: 35px;
}

body
{
	position: relative;
	min-width: 1280px;
}

#page .verticalspacer
{
	clear: both;
}

